@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    box-sizing: border-box;
    padding-bottom: 5%;
    min-height: 100vh;
    position: relative;
}

#navDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: lightblue;
}

#nav li {
    text-align: center;
}

#titleDiv {

    display: flex;
    align-items: center;
    font-family: open-s;
    color: whitesmoke;
    letter-spacing: 2px;

}

.ruler {
    background-color:lavender;
    height: 20px;
    width: 100%;
    margin: 0%;
}

#nav a {
    font-family: poppins;
    color: white;
}

#logo {
    height: auto;
    width: 10%;
}

.table-bordered th,
.table-bordered td {
    border: 2px solid black;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
    vertical-align: middle;
}

th,
td {
    background-color: #d3d3d3;/
}

td {
    max-width: 100px;
}

.form-control {
    border-radius: 0;
    border: 1px solid #ced4da;
}

.input-group-text {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}

.form-label {
    font-weight: bold;
}